body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #25274d
}

#home img, #homesm img, #homexs img{padding: 10px 0px 10px 0px;
}


#login{
    padding: 10px 0px 50px 0px;
    margin: auto;
    background-color: #f0f0f0;
}

.maintitle{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.inputline{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 15px auto;
    width: 75%;
}

#mainlogin{
    width: 35%;
    margin: auto;
    opacity: 1;
}

.logintitle{
    width: 100%;
    background-color: #25274d;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff0000;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 7px;
}


form{
    margin-top: 10%;
    border: 7px solid #25274d;
    background-color: #e0d8d8;
    border-radius: 5px;    
    padding-bottom: 17px;
    box-shadow: 0px 0px 10px #fff;
}

#usermessage{
    font-size: 1.2rem;
    font-weight: 500;
    color: #25274d;
    text-align: center;
}

.loginsubtitle{
    font-size: 1.2rem;
    font-weight: 500;
    color: #25274d;
}

.logintext{
    margin-left: 7px;
    font-size: 1rem;
}

.logintext{
    margin: 0px 30px 0px auto;
}

.loginsubmit{
    margin: auto;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #25274d;
    color: #ff0000;
    border-radius: 3px;
}

.missing{background-color: rgb(241, 241, 157);}


#footer{
    background-color: #25274d;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

#footer .mainsection{
    text-align: center;
    font-size: 1.3rem;
    color: #ff0000;
}

/*MEDIA*/
@media screen and (max-width: 1600px){
    #mainlogin{width: 40%;}

}

@media screen and (max-width: 1200px){
    #mainlogin{width: 55%;}
}

@media screen and (max-width: 900px){
    #mainlogin{width: 63%;}
}

@media screen and (max-width: 768px){
    #mainlogin{width: 80%;}
    .logintitle{
        font-size: 1.3rem;
        margin-bottom: 17px;
        padding-bottom: 5px;
    }
    .inputline{width: 85%;}
    .loginsubtitle{font-size: 1.1rem;}
    .logintext{
        width: 70%;
        font-size: 1rem;
        margin: 0px 10px 0px auto;
    }
    form{
        padding-bottom: 7px;
        border-width: 4px;
    }
    #footer .mainsection {font-size: 1.1rem};
}

@media screen and (max-width: 600px){
    #mainlogin{width: 90%;}
    .logintext{width: 68%;}
    #footer .mainsection {font-size: 1rem};
}

@media screen and (max-width: 480px){
    #mainlogin{width: 90%;}
    .logintext{width: 95%;}
    .loginsubtitle{font-size: 1.1rem;}
    .logintext{font-size: 1rem;}
    .loginsubmit{font-size: 1.2rem;}
}

@media screen and (max-width: 365px){
    #mainlogin{width: 100%;}
    .logintext{width: 95%;}
    .loginsubtitle{font-size: 1rem;}
    .logintext{font-size: .9rem;}
    .loginsubmit{font-size: 1.1rem;}
    #footer .mainsection {font-size: .8rem};
}