#home img{
    width: 100%;
    margin: 0px;
    padding: 60px 0px 10px 0px;
    background:#25274d;
}

#dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #e9e9e9;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    display: none;
    position: fixed;
    background: #25274d;
    border-radius: 7px;
    width: 40%;
    top: 100px;
    left: 30%;
    z-index: 10;
}
#dialogbox div{
    background: #aaabb8;
    margin: 8px;
}
#dialogbox div #dialogboxhead{
    background: #aaabb8;
    font-size: 2rem;
    padding: 10px;
    color: #25274d;
}
#dialogbox div #dialogboxbody{
    background: #25274d;
    padding: 20px;
    color: #feffff;
    border-radius: 7px;
    font-size: 1.3rem;
    text-align: center;
}
#dialogbox div #dialogboxfoot{
    background: #aaabb8;
    padding:10px;
    text-align: right;
}
#dialogbox div #dialogboxfoot button {
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 7px;
    padding: 2px 30px 5px 30px;
}
