/*MAIN PAGE*/
body{
    width: 80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*ROWS*/
.headers, .maininfo, .teamstattitle, .teamstatinfo{
    display: flex;
    flex-wrap: wrap;
}

/*Titles*/
.headers{
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 7px;
}

/*FULL TEAM - all informtion*/
.headers,.eachteam{
    margin: 4px auto 1px auto;
    width: 60%;
    border: 2px solid #a4a4a4;
    border-radius: 5px;
}

/*TEAM NAME AND VALUE*/
.maininfo{
    font-size:1.40rem;
}
.headersTeam, .headersValue, .teamname, .teamvalue{
    flex: 0 0 33.3333%;
    max-width: 33.33333%;
    padding-left: 2%;
}

/*TEAM STATS*/
.subinfo{
    width: 96%;
    margin: 1px auto 3px auto;
    font-size: 1rem;
}
.teamstattitle{
    background-color: #4A4A4A;
    color: #ffffff;
    border-radius: 3px;
}

.stat{
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    text-align: center;
}